{% extends 'rango/base.html' %}
{% block title %}Category{% endblock title %}
{% block body_block %}
<h2>Category Page</h2>

{% if category %}
    <h2>{{ category.name }}</h2>
    <p>Views: {{ category.views }} | Likes: {{ category.likes }}</p>

    {% if pages %}
        <ul>
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a> (views: {{ page.views }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pages currently in this category.</p>
    {% endif %}

    <p>
        <a href="{% url 'rango:add_page' category.slug %}">Add a Page to this Category</a>
    </p>
{% else %}
    <p>The specified category does not exist!</p>
{% endif %}
<hr>
<a href="{% url 'rango:index' %}">Back to Index</a>
{% endblock %}
