{% extends 'rango/base.html' %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block body_block %}
<h2>Rango says...</h2>
<div>
    <p>Hey there partner!</p>
    <p><strong>Welcome to Rango Home page</strong></p>
</div>

<div>
    <a href="{% url 'rango:about' %}">About</a><br>
    <a href="{% url 'rango:add_category' %}">Add a Category</a><br>
    <img src="{% static 'rango/images/rango.jpg' %}" alt="Picture of Rango"><br>
</div>

<hr>
<h2>Top 5 Categories</h2>
{% if categories %}
    <ul>
    {% for category in categories %}
        <li>
          <a href="{% url 'rango:show_category' category_name_slug=category.slug %}">
            {{ category.name }}
          </a>
          (views: {{ category.views }}, likes: {{ category.likes }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories present.</p>
{% endif %}

<hr>
<h2>Top 5 Pages</h2>
{% if pages %}
    <ul>
    {% for page in pages %}
        <li>
          <a href="{{ page.url }}">{{ page.title }}</a> (views: {{ page.views }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pages present.</p>
{% endif %}
{% endblock %}
