<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        <p>Hey there partner!</p>
        <p><strong>Welcome to Rango Home page</strong></p>
    </div>

    <div>
        <a href="{% url 'rango:about' %}">About</a><br>
        <!-- Add the link to the add_category page -->
        <a href="{% url 'rango:add_category' %}">Add a Category</a><br>
        <img src="{% static 'rango/images/rango.jpg' %}" alt="Picture of Rango"><br>
    </div>

    <hr>
    <h2>Top 5 Categories</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{% url 'rango:show_category' category.name %}">
                {{ category.name }}
            </a> (views: {{ category.views }}, likes: {{ category.likes }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No categories present.</p>
    {% endif %}

    <hr>
    <h2>Top 5 Pages</h2>
    {% if pages %}
        <ul>
        {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> (views: {{ page.views }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pages present.</p>
    {% endif %}
</body>
</html>
